*{
    margin: 0px;
    padding: 0px;
    font-family: "inter";
    
}

/* DIV 1 : CABEÇALHO */
#cabecalho{
    background-color: #303030 ;
    color: #FFFFFF;
}

#tituloCabecalho{
    padding: 200px 0px 20px 62px;
    font-size: 50px;
    font-weight: 500; 
}

#textoCabecalho{
    padding: 0px 0px 140px 62px;
}

/* DIV2 : MENU INFORMAÇÕES */

#informacoes {
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    padding-left: 160px;
    text-align: justify;
}

#informacoes h1 {
    font-weight: 600;
    margin-top: 60px;
}

#informacoes p {
    font-weight: 400;
    margin-bottom: 60px ;
}

/* DIV3 : MENU DE APRESENTAÇÃO */
#apresentacao {
    display: grid;
    grid-auto-flow: column;
    text-align: justify;
    width: 100%;
}

#textoApresentacao {
    margin: 280px 65px 0px 72px;
}

#apresentacao h1 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 40px;
}

#apresentacao p {
    font-weight: 300;
    font-size: 20px;
}

#apresentacao img {
    width: 460px;
    height: 555px;
    margin: 80px 60px 90px 0px;
}

/*DIV4 : MENU DE CONTATO*/

#contato {
    background-color: #303030;
    text-align: center;
    align-items: center;
}

#contato h1 {
    font-weight: 700;
    color: #FFFFFF;
    padding: 75px 0 48px 0;
}

#contato form input {
    width: 450px;
    height: 60px;
    margin-bottom: 55px;
    border-radius: 10px;
    color: #000000d3;
    padding-left: 30px;
    font-weight: 700;
}

#contato button {
    width: 286px;
    height: 60px;
    background-color: #C07212;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 75px;
    cursor: pointer;
}

